.navbar {
	position: absolute;
	width: 100vw;
	height: 30px;
	transition: .3s;
	padding-left: 0;
	box-shadow: 0 4px 2px -2px gray;
	overflow: hidden;
	white-space: nowrap;
	background: white;
}

.my-class {
		transition: .3s;
    height: 100px;
  }

.nav-items {
	margin-left: 20px;
}