<!--The content below is only a placeholder and can be replaced.-->
<div class="calculator">
  <h1>Tip Calculator</h1>
  <div *ngIf="showSubInput">
    Subtotal: <input [(ngModel)]="subtotal" type="text">
    <button (click)="showWithTax()">Submit</button>
  </div>
  <div *ngIf="showTaxAdded">
    Bill with tax:   ${{subtotalWithTax}} <br>
    How much will you tip? <input type="text" [(ngModel)]="tipPercentage" maxlength="3">%
    <br><button (click)="calculateTip()">Submit tip percentage</button>
  <div *ngIf="showTipAmount">
    You will tip ${{tipAmount}}
    confirm? <button (click)="confirmTip()" >Yes</button> 
  </div>
</div>


