.main {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	text-align: center;
}

.calculator {
	align-self: stretch;
	order: 0;
	flex: 0 0 0px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 90px;
}
